spring:
  application:
    name: service-2-enrichment

  main:
    web-application-type: reactive

  data:
    redis:
      host: redis
      port: 6379

server:
  port: 8082

logging:
  level:
    org.springframework: INFO
    kz.project: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
