spring:
  application:
    name: service-2-enrichment

  main:
    web-application-type: reactive

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8082

logging:
  level:
    org.springframework: INFO
    kz.project: DEBUG
